#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #888;
  opacity: 0.75;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

img {
  --at-apply: rd-1.5;
}

article {
  --at-apply: sm: min-h-38 min-h-28;
}

.prose-link i {
  --at-apply: text-sm mr-1;
}
