---
import Navigation from './Navigation.astro'
import ThemeIcon from './ThemeIcon.astro'
import { Image } from 'astro:assets'
import heroLogo from '/src/assets/NatureTattoo.png'
---

<header
  id="header"
  class="bg-transparent z-899 w-screen h-40 flex items-center relative"
>
  <a class="flex flex-shrink-0" href="/" aria-label="Header Logo Image">
    <Image
      src={heroLogo}
      alt="Logo"
      height="128"
      onContextMenu="return false;"
      style="filter: drop-shadow(3px 5px 4px);"
    />
  </a>

  <Navigation />

  <div class="flex justify-evenly items-center min-w-[90px]">
    <a
      class="nav-link"
      target="_blank"
      href="/rss.xml"
      i-ri-rss-line
      aria-label="RSS"></a>
    <div class="nav-link flex"><ThemeIcon /></div>
  </div>
</header>
