---
import { Image } from 'astro:assets'
import dogePicture from '/src/assets/wow-doge.png'
import heroLogo from '/src/assets/NatureTattoo.png'
---

<nav class="sm:flex hidden flex-wrap gap-x-6 position-initial flex-row">
  <a href="/stories">Content</a>
  <a href="/gear">Gear</a>
</nav>
